<script type="text/javascript" src="../easyui/extension/datagrid-detailview.js"></script>
<script type="text/javascript" src="../javascripts/marketinginfo.js"></script>
<table id="activity"></table>

<div id="activity_tool" style="padding:5px;">
    <div style="margin-bottom:5px;">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="marketing_tool.add();">添加</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="marketing_tool.edit();">修改</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="marketing_tool.remove();">删除</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-online" plain="true" onclick="marketing_tool.online();">上线</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-offline" plain="true" onclick="marketing_tool.offline();">下线</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="marketing_tool.reload();">刷新</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-redo" plain="true" id="redo" onclick="marketing_tool.redo();">取消选择</a>
    </div>
    <form id="activity_search" method="post">
        <div style="padding:0 0 0 7px;color:#333;">
            营销活动名称：<input type="text" class="textbox" name="search_activity" style="width:150px">
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="marketing_tool.search();">查询</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-reset" onclick="marketing_tool.reset();">重置</a>
        </div>
    </form>
</div>

<!--新增-->
<form id="activity_add" method="post" enctype="multipart/form-data" style="margin:0;padding:5px 0 0 25px;color:#333;">
    <p>活动标题：<input type="text" name="title" class="textbox" style="width:200px;"></p>
    <p>活动内容：<input type="text" name="content" class="textbox" style="width:200px;"></p>
    <p>图片附件：<input type="text" id="picture" name="picture" style="width:200px;"></p>
    <p>活动状态：<input type="text" id="state" name="state" style="width:200px;"></p>
    <p>开始时间：<input type="text" id="begin_time" name="begin_time" style="width:200px;"></p>
    <p>结束时间：<input type="text" id="end_time" name="end_time" style="width:200px;"></p>
</form>

<!--编辑-->
<form id="activity_edit" method="post" enctype="multipart/form-data" style="margin:0;padding:5px 0 0 25px;color:#333;">
    <p><input type="hidden" name="id" class="textbox" style="width:200px;"></p>
    <p>活动标题：<input type="text" name="title_edit" disabled="true" class="textbox" style="width:200px;"></p>
    <p>活动内容：<input type="text" name="content_edit" class="textbox" style="width:200px;"></p>
    <p>图片附件：<input type="text" id="picture_edit" name="picture_edit" style="width:200px;"></p>
    <p>&nbsp;&nbsp;&nbsp;发布人：<input type="text" name="publisher_edit" disabled="true" class="textbox" style="width:200px;"></p>
    <p>活动状态：<input type="text" id="state_edit" name="state_edit" style="width:200px;"></p>
    <p>开始时间：<input type="text" id="begin_time_edit" name="begin_time_edit" style="width:200px;"></p>
    <p>结束时间：<input type="text" id="end_time_edit" name="end_time_edit" style="width:200px;"></p>
    <p>创建时间：<input type="text" id="create_time_edit" name="create_time_edit" disabled="true" class="textbox" style="width:200px;"></p>
</form>