<div data-options="region:'south',title:'footer',split:'true',noheader:true" style="height:35px;line-height: 30px;text-align: center;">
    ©<%= hotel.name %>. Powered by Node.js and EasyUI.
</div>
</body>
</html>