<script type="text/javascript" src="javascripts/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="javascripts/bui-min.js"></script>
<script type="text/javascript" src="javascripts/main-min.js"></script>
<script type="text/javascript" src="javascripts/config-min.js"></script>
<script>
    BUI.use('main',function(){
        var config = [
            {id:'1',menu:[{text:'配置管理',items:[{id:'11',text:'酒店管理',href:'collocation/hotel'},{id:'12',text:'班组管理',href:'collocation/group'},{id:'13',text:'协议管理',href:'collocation/protocol'},{id:'14',text:'设备管理',href:'collocation/equipment'}]}]},
            {id:'2',menu:[{text:'权限管理',items:[{id:'21',text:'用户组管理',href:'authority/usergroup'},{id:'22',text:'用户管理',href:'authority/user'}]}]},
            {id:'3',menu:[{text:'产品管理',items:[{id:'31',text:'产品定制',href:'produce/customization/index'},{id:'32',text:'产品审核',href:'produce/verify/index'},{id:'33',text:'产品维护',href:'produce/maintain/index'}]}]},
            {id:'4',menu:[{text:'收银台',items:[{id:'41',text:'收银',href:'cashierdesk/cashier/index'},{id:'42',text:'充值',href:'cashierdesk/recharge/index'},{id:'43',text:'误收退还',href:'cashierdesk/cashier/index'},{id:'44',text:'收银核对',href:'cashierdesk/cashiercheck/index'}]}]},
            {id:'5',menu:[{text:'销售统计',items:[{id:'51',text:'收银',href:'cashierdesk/cashier/index'},{id:'52',text:'充值',href:'cashierdesk/recharge/index'},{id:'53',text:'误收退还',href:'cashierdesk/cashier/index'},{id:'54',text:'收银核对',href:'cashierdesk/cashiercheck/index'}]}]},
            {id:'6',menu:[{text:'账户账单',items:[{id:'61',text:'账户管理',href:'accountbill/account/index'},{id:'62',text:'账单管理',href:'accountbill/bill/index'}]}]},
            {id:'7',menu:[{text:'营销信息',items:[{id:'72',text:'营销活动管理',href:'marketinginfo/marketingactive'}]}]}
        ];
        /*var config = [  {id:'71',text:'营销图片管理',href:'marketinginfo/marketingpic'},
            {id:'1',menu:[{text:'配置管理',items:[{id:'11',text:'酒店管理',href:'users/collocation/hotel/index'},{id:'12',text:'班组管理',href:'users/collocation/group/index'},{id:'13',text:'协议管理',href:'users/collocation/protocol/index'},{id:'14',text:'设备管理',href:'users/collocation/equipment/index.ejs'}]}]},
            {id:'2',homePage : 'index',menu:[{text:'权限管理',items:[{id:'21',text:'用户组管理',href:'users/authority/usergroup/index'},{id:'22',text:'用户管理',href:'users/authority/user/index'}]}]},
            {id:'3',homePage : '3',menu:[{text:'产品管理',items:[{id:'31',text:'产品定制',href:'users/produce/customization/index'},{id:'32',text:'产品审核',href:'users/produce/verify/index'},{id:'33',text:'产品维护',href:'users/produce/maintain/index'}]}]},
            {id:'4',homePage : '4',menu:[{text:'收银台',items:[{id:'41',text:'收银',href:'users/cashierdesk/cashier/index'},{id:'42',text:'充值',href:'users/cashierdesk/recharge/index'},{id:'43',text:'误收退还',href:'users/cashierdesk/cashier/index'},{id:'44',text:'收银核对',href:'users/cashierdesk/cashiercheck/index'}]}]},
            {id:'5',homePage : '5',menu:[{text:'销售统计',items:[{id:'51',text:'收银',href:'users/cashierdesk/cashier/index'},{id:'52',text:'充值',href:'users/cashierdesk/recharge/index'},{id:'53',text:'误收退还',href:'users/cashierdesk/cashier/index'},{id:'54',text:'收银核对',href:'users/cashierdesk/cashiercheck/index'}]}]},
            {id:'6',homePage : '6',menu:[{text:'账户账单',items:[{id:'61',text:'账户管理',href:'users/accountbill/account/index'},{id:'62',text:'账单管理',href:'users/accountbill/bill/index'}]}]},
            {id:'7',homePage : '7',menu:[{text:'营销信息',items:[{id:'71',text:'营销图片管理',href:'users/marketinginfo/marketingpic/index'},{id:'72',text:'营销活动管理',href:'users/marketinginfo/marketingactive/index'}]}]}
        ];*/
        new PageUtil.MainPage({
            modulesConfig : config
        });
    });
</script>
</body>
</html>