<%- include header %>
<div data-options="region:'west',title:'导航菜单',split:true" style="width:180px;">
    <div id="menu" class="easyui-accordion" style="width:180px;">
        <div title="配置管理" id="collocation" class="nav_btn"><ul id="collocation_nav"></ul></div>
        <div title="权限管理" id="authority" class="nav_btn"><ul id="authority_nav"></ul></div>
        <div title="电子预售券管理" id="product" class="nav_btn">电子预售券管理</div>
        <div title="账户账单管理" id="accountbill" class="nav_btn">账户账单管理</div>
        <div title="营销信息管理" id="marketinginfo" class="nav_btn"><ul id="marketinginfo_nav"></ul></div>
        <div title="销售统计" id="salesstatistics" class="nav_btn">销售统计</div>
        <div title="收银台" id="cashierdesk" class="nav_btn">收银台</div>
    </div>
</div>
<div data-options="region:'center'" style="overflow:hidden;">
    <div id="tabs">
        <div title="起始页" iconCls="icon-house" style="padding:0 10px;display:block;">
            <p>欢迎使用<%= hotel.name %></p>
        </div>
    </div>
</div>
<%- include footer %>

