<div class="dl-main-nav">
    <div class="dl-inform">
        <div class="dl-inform-title">
            <s class="dl-inform-icon dl-up"></s>
        </div>
    </div>
    <ul id="J_Nav" class="nav-list ks-clear">
        <li class="nav-item dl-selected">
            <div class="nav-item-inner nav-home">配置管理</div>
        </li>
        <li class="nav-item dl-selected">
            <div class="nav-item-inner nav-order">权限管理</div>
        </li>
        <li class="nav-item dl-selected">
            <div class="nav-item-inner nav-home">产品管理</div>
        </li>
        <li class="nav-item dl-selected">
            <div class="nav-item-inner nav-home">收银台</div>
        </li>
        <li class="nav-item dl-selected">
            <div class="nav-item-inner nav-home">销售统计</div>
        </li>
        <li class="nav-item dl-selected">
            <div class="nav-item-inner nav-home">账户账单</div>
        </li>
        <li class="nav-item dl-selected">
            <div class="nav-item-inner nav-home">营销信息</div>
        </li>
    </ul>
</div>