<script type="text/javascript" src="../javascripts/collocation-hotel.js"></script>
<table id="hotel"></table>

<div id="hotel_tool" style="padding:5px;">
    <div style="margin-bottom:5px;">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="hotel_tool.add();">添加</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="hotel_tool.edit();">修改</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="hotel_tool.remove();">删除</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="hotel_tool.reload();">刷新</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-redo" plain="true" id="redo" onclick="hotel_tool.redo();">取消选择</a>
    </div>
    <form id="hotel_search" method="post">
        <div style="padding:0 0 0 7px;color:#333;">
            酒店名称：<input type="text" class="textbox" name="search_hotel" style="width:150px">
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="hotel_tool.search();">查询</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-reset" onclick="hotel_tool.reset();">重置</a>
        </div>
    </form>
</div>

<!--新增-->
<form id="hotel_add" style="margin:0;padding:5px 0 0 25px;color:#333;">
    <p>酒店名称：<input type="text" name="hotel_name" class="textbox" style="width:200px;"></p>
    <p>酒店地址：<input type="text" name="hotel_address" class="textbox" style="width:200px;"></p>
    <p>酒店电话：<input type="text" name="phone" class="textbox" style="width:200px;"></p>
    <p>备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：<input type="text" name="note" class="textbox" style="width:200px;"></p>
</form>

<!--编辑-->
<form id="hotel_edit" style="margin:0;padding:5px 0 0 25px;color:#333;">
    <p><input type="hidden" name="id" class="textbox" style="width:200px;"></p>
    <p>酒店名称：<input type="text" name="hotel_name_edit" disabled="true" class="textbox" style="width:200px;"></p>
    <p>酒店地址：<input type="text" name="hotel_address_edit" class="textbox" style="width:200px;"></p>
    <p>酒店电话：<input type="text" name="phone_edit" class="textbox" style="width:200px;"></p>
    <p>备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：<input type="text" name="note_edit" class="textbox" style="width:200px;"></p>
</form>

