<script type="text/javascript" src="../javascripts/authority-user.js"></script>
<table id="user"></table>

<div id="user_tool" style="padding:5px;">
    <div style="margin-bottom:5px;">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="user_tool.add();">添加</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="user_tool.edit();">修改</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="user_tool.remove();">删除</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="user_tool.reload();">刷新</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-redo" plain="true" id="redo" onclick="user_tool.redo();">取消选择</a>
    </div>
    <form id="user_search" method="post">
        <div style="padding:0 0 0 7px;color:#333;">
            班组名称：<input type="text" class="textbox" name="search_user" style="width:150px">
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="user_tool.search();">查询</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-reset" onclick="user_tool.reset();">重置</a>
        </div>
    </form>
</div>

<!--新增-->
<form id="user_add" style="margin:0;padding:5px 0 0 25px;color:#333;">
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;账号：<input type="text" name="account" class="textbox" style="width:200px;"></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;姓名：<input type="text" name="name" class="textbox" style="width:200px;"></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;密码：<input type="text" name="password" class="textbox" style="width:200px;"></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;性别：<input id="sex" name="sex" class="text" style="width:205px;"></p>
    <p>&nbsp;&nbsp;&nbsp;出生日期：<input type="text" id="birth" name="birth" class="textbox" style="width:205px;"></p>
    <p>&nbsp;&nbsp;&nbsp;电话号码：<input type="text" name="phone" class="textbox" style="width:200px;"></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;邮箱：<input type="text" name="email" class="textbox" style="width:200px;"></p>
    <p>&nbsp;&nbsp;&nbsp;用户身份：<input type="text" name="identity" class="textbox" style="width:200px;"></p>
    <p>&nbsp;&nbsp;&nbsp;所属酒店：<input class="text" id="hotel_id" name="hotel_id" style="width:205px;"></p>
    <p>&nbsp;&nbsp;&nbsp;所属班组：<input class="text" id="group_id" name="group_id" style="width:205px;"></p>
    <p>所属用户组：<input class="text" id="usergroup_id" name="usergroup_id" style="width:205px;"></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;状态：<input id="state" name="state" class="text" style="width:205px;"></p>
</form>

<!--编辑-->
<form id="user_edit" style="margin:0;padding:5px 0 0 25px;color:#333;">
    <p><input type="hidden" name="id" class="textbox" style="width:200px;"></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;账号：<input type="text" name="account_edit" disabled="true" class="textbox" style="width:200px;"></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;姓名：<input type="text" name="name_edit" class="textbox" style="width:200px;"></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;密码：<input type="text" name="password_edit" class="textbox" style="width:200px;"></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;性别：<input id="sex_edit" name="sex_edit" class="text" style="width:205px;"></p>
    <p>&nbsp;&nbsp;&nbsp;出生日期：<input type="text" id="birth_edit" name="birth_edit" class="textbox" style="width:205px;"></p>
    <p>&nbsp;&nbsp;&nbsp;电话号码：<input type="text" name="phone_edit" class="textbox" style="width:200px;"></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;邮箱：<input type="text" name="email_edit" class="textbox" style="width:200px;"></p>
    <p>&nbsp;&nbsp;&nbsp;用户身份：<input type="text" name="identity_edit" class="textbox" style="width:200px;"></p>
    <p>&nbsp;&nbsp;&nbsp;所属酒店：<input class="text" id="hotel_id_edit" name="hotel_id_edit" style="width:205px;"></p>
    <p>&nbsp;&nbsp;&nbsp;所属班组：<input class="text" id="group_id_edit" name="group_id_edit" style="width:205px;"></p>
    <p>所属用户组：<input class="text" id="usergroup_id_edit" name="usergroup_id_edit" style="width:205px;"></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;状态：<input id="state_edit" name="state_edit" class="text" style="width:205px;"></p>
</form>