<script type="text/javascript" src="../javascripts/echarts.js"></script>
<script type="text/javascript" src="../javascripts/product-stock.js"></script>

<div id="stock_tool" style="padding:5px;">
    <form id="stock_search" method="post">
        <div style="padding:0 0 0 7px;color:#333;">
            在售电子预售券名称：<input type="text" class="textbox" id="search_stock" name="search_stock" style="width:150px">
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="stock_tool.search();">查询</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-reset" onclick="stock_tool.reset();">重置</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="stock_tool.reload();">导出</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="stock_tool.back();">打印</a>
        </div>
    </form>
</div>

<table id="stock"></table>

<div id="sale-pie" style="width: 900px;height:500px;margin:20px auto;border:1px solid #eeeeee"></div>
