<script type="text/javascript" src="../easyui/extension/datagrid-detailview.js"></script>
<script type="text/javascript" src="../javascripts/product-customization.js"></script>
<table id="productf"></table>

<div id="productf_tool" style="padding:5px;">
    <div style="margin-bottom:5px;">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="productf_tool.add();">添加</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="productf_tool.edit();">修改</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="productf_tool.remove();">删除</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-online" plain="true" onclick="productf_tool.verify();">提交审核</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="productf_tool.reload();">刷新</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-redo" plain="true" id="redo" onclick="productf_tool.redo();">取消选择</a>
    </div>
    <form id="productf_search" method="post">
        <div style="padding:0 0 0 7px;color:#333;">
            电子预售券名称：<input type="text" class="textbox" name="search_productf" style="width:150px">
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="productf_tool.search();">查询</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-reset" onclick="productf_tool.reset();">重置</a>
        </div>
    </form>
</div>

<!--新增-->
<form id="productf_add" style="margin:0;padding:5px 0 0 25px;color:#333;">
    <p>产品名称：<input type="text" name="name" class="textbox" style="width:200px;"></p>
    <p>年化奖励率(%)：<input type="text" name="annual_rate" class="textbox" style="width:200px;"></p>
    <p>发行总额(元)：<input type="text" name="total_amount" class="textbox" style="width:200px;"></p>
    <p>起购金额(元)：<input type="text" name="min_amount" class="textbox" style="width:200px;"></p>
    <p>限购金额(元)：<input type="text" name="max_amount" class="textbox" style="width:200px;"></p>
    <p>发售时间：<input type="text" id="start_sell" name="start_sell" style="width:200px;"></p>
    <p>停售时间：<input type="text" id="end_sell" name="end_sell" style="width:200px;"></p>
    <p>起息时间：<input type="text" id="start_interest" name="start_interest" style="width:200px;"></p>
    <p>止息时间：<input type="text" id="end_interest" name="end_interest" style="width:200px;"></p>
    <p>审计状态：<input type="text" id="audit_state" name="audit_state" style="width:200px;"></p>
    <p>服务协议：<input type="text" id="protocol_id" name="protocol_id" style="width:200px;"></p>
    <p>备注：<input type="text" name="note" class="textbox" style="width:200px;"></p>
</form>

<!--编辑-->
<form id="productf_edit" style="margin:0;padding:5px 0 0 25px;color:#333;">
    <p><input type="hidden" name="id" class="textbox" style="width:200px;"></p>
    <p>产品名称：<input type="text" name="name_edit" class="textbox" style="width:200px;"></p>
    <p>&nbsp;&nbsp;&nbsp;发行人：<input type="text" name="user_id_edit" disabled="true" class="textbox" style="width:200px;"></p>
    <p>年化奖励率(%)：<input type="text" name="annual_rate_edit" class="textbox" style="width:200px;"></p>
    <p>发行总额(元)：<input type="text" name="total_amount_edit" class="textbox" style="width:200px;"></p>
    <p>起购金额(元)：<input type="text" name="min_amount_edit" class="textbox" style="width:200px;"></p>
    <p>限购金额(元)：<input type="text" name="max_amount_edit" class="textbox" style="width:200px;"></p>
    <p>发售时间：<input type="text" id="start_sell_edit" name="start_sell_edit" style="width:200px;"></p>
    <p>停售时间：<input type="text" id="end_sell_edit" name="end_sell_edit" style="width:200px;"></p>
    <p>起息时间：<input type="text" id="start_interest_edit" name="start_interest_edit" style="width:200px;"></p>
    <p>止息时间：<input type="text" id="end_interest_edit" name="end_interest_edit" style="width:200px;"></p>
    <p>审计状态：<input type="text" id="audit_state_edit" name="audit_state_edit" style="width:200px;"></p>
    <p>服务协议：<input type="text" id="protocol_id_edit" name="protocol_id_edit" style="width:200px;"></p>
    <p>备注：<input type="text" name="note_edit" class="textbox" style="width:200px;"></p>
</form>