<script type="text/javascript" src="../javascripts/collocation-protocol.js"></script>
<table id="protocol"></table>

<div id="protocol_tool" style="padding:5px;">
    <div style="margin-bottom:5px;">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="protocol_tool.add();">添加</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="protocol_tool.edit();">修改</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="protocol_tool.remove();">删除</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="protocol_tool.reload();">刷新</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-redo" plain="true" id="redo" onclick="protocol_tool.redo();">取消选择</a>
    </div>
    <form id="protocol_search" method="post">
        <div style="padding:0 0 0 7px;color:#333;">
            协议标题：<input type="text" class="textbox" name="search_protocol" style="width:150px">
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="protocol_tool.search();">查询</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-reset" onclick="protocol_tool.reset();">重置</a>
        </div>
    </form>
</div>

<!--新增-->
<form id="protocol_add" style="margin:0;padding:5px 0 0 25px;color:#333;">
    <p>协议标题：<input type="text" name="name" class="textbox" style="width:200px;"></p>
    <p>协议内容：<input type="text" name="content" class="textbox" style="width:200px;"></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;备注：<input type="text" name="note" class="textbox" style="width:200px;"></p>
</form>

<!--编辑-->
<form id="protocol_edit" style="margin:0;padding:5px 0 0 25px;color:#333;">
    <p><input type="hidden" name="id" class="textbox" style="width:200px;"></p>
    <p>协议标题：<input type="text" name="name_edit" disabled="true" class="textbox" style="width:200px;"></p>
    <p>协议内容：<input type="text" name="content_edit" class="textbox" style="width:200px;"></p>
    <p>&nbsp;&nbsp;&nbsp;创建人：<input type="text" name="user_id_edit" disabled="true" class="textbox" style="width:200px;"></p>
    <p>创建时间：<input type="text" name="create_time_edit" disabled="true" class="textbox" style="width:200px;"></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;备注：<input type="text" name="note_edit" class="textbox" style="width:200px;"></p>
</form>