<script type="text/javascript" src="../javascripts/authority-usergroup.js"></script>
<table id="usergroup"></table>

<div id="usergroup_tool" style="padding:5px;">
    <div style="margin-bottom:5px;">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="usergroup_tool.add();">添加</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="usergroup_tool.edit();">修改</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="usergroup_tool.remove();">删除</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="usergroup_tool.reload();">刷新</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-redo" plain="true" id="redo" onclick="usergroup_tool.redo();">取消选择</a>
    </div>
    <form id="usergroup_search" method="post">
        <div style="padding:0 0 0 7px;color:#333;">
            班组名称：<input type="text" class="textbox" name="search_usergroup" style="width:150px">
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="usergroup_tool.search();">查询</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-reset" onclick="usergroup_tool.reset();">重置</a>
        </div>
    </form>
</div>

<!--新增-->
<form id="usergroup_add" style="margin:0;padding:5px 0 0 25px;color:#333;">
    <p>用户组名称：<input type="text" name="name" class="textbox" style="width:200px;"></p>
    <p>&nbsp;&nbsp;&nbsp;所属酒店：<input class="text" id="hotel_id" name="hotel_id" style="width:205px;"></p>
    <p>用户组权限：<input id="auth" name="auth" class="textbox" style="width:205px;"></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;备注：<input type="text" name="note" class="textbox" style="width:200px;"></p>
</form>

<!--编辑-->
<form id="usergroup_edit" style="margin:0;padding:5px 0 0 25px;color:#333;">
    <p><input type="hidden" name="id" class="textbox" style="width:200px;"></p>
    <p>用户组名称：<input type="text" name="name_edit" disabled="true" class="textbox" style="width:200px;"></p>
    <p>&nbsp;&nbsp;&nbsp;所属酒店：<input name="hotel_id_edit" class="text" style="width:205px;"></p>
    <p>用户组权限：<input id="auth_edit" name="auth_edit" class="textbox" style="width:205px;"></p>
    <p>创建时间：<input type="text" name="create_time_edit" disabled="true" style="width:200px;"></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;备注：<input type="text" name="note_edit" class="textbox" style="width:200px;"></p>
</form>